PORT=5000
MONGO_URI=your_mongodb_connection_string
GROQ_API_KEY=your_groq_api_key
EMAIL_USER=your_email@gmail.com
EMAIL_PASS="your_gmail_app_password"
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
FRONTEND_URL=https://hacktofuture4-i10.vercel.app
CLIENT_URL=https://hacktofuture4-i10.vercel.app
BACKEND_URL=https://jansetu-sekx.onrender.com
PUBLIC_URL=https://jansetu-sekx.onrender.com
